[build]
  command = ""
  publish = "."
  functions = "netlify/functions"

[[redirects]]
  from = "/api/image"
  to = "/.netlify/functions/image"
  status = 200

[[redirects]]
  from = "/api/rooms/*"
  to = "/.netlify/functions/rooms"
  status = 200

[[redirects]]
  from = "/api/gmail/*"
  to = "/.netlify/functions/gmail"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
